{% extends 'blog/base.html' %}
{% load static %}
{% load markdown %}
{% block title %}全站运维 | 归档页 | Colin.Liu {% endblock %}
{% block content %}
<div>
	<div class="tab-content">
		<div id="archivedate" class="tab-pane active tabcontentstyle">
			<div>
				<h3>&lceil; &nbsp;{{ categroy }}&nbsp;&rfloor;</h3>
				<ul>
					{% for post in posts %}
						<!-- record is dict -->
					<li>
						<span class="pubdate">{{ post.created|date:'Y-m-d' }} </span>
						<span><a href="{% url 'blog:detail'  post.id %}">{{ post.title }}</a></span>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>

{% endblock %}
