<!-- nav -->
<div class="container">
    <div class="row">
        <div class="col-md-12 blognav">
            <ul>
                <li>&lceil; &nbsp; <a href="{% url 'blog:index' %}">Home</a> &nbsp;|&nbsp;</li>
                <li><a href="{% url 'blog:archives' %}">Archs</a>&nbsp;|&nbsp;</li>
                <!-- <li><a href="">Tags</a> &nbsp;|&nbsp;</li> -->
                <li><a href="{% url 'blog:project' %}">Projs</a>&nbsp;|&nbsp;</li>
                <!-- <li><a href="">Links</a> &nbsp;|&nbsp;</li> -->
                <li><a href="{% url 'blog:about' %}">About</a>&nbsp;&nbsp;&rfloor;</li>
            </ul>
            <!-- <hr> -->
        </div>
    </div>
</div>
